:root {
  --color-primary: black;
  --color-secondary: #980039;
  --color-secondary-light: #B61651;
  --color-yellow: #EBC368;
  --color-background: #FEFAF9;

  --font-primary: 'Lato', sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

h6 {
  font-weight: 700;
}

p {
  line-height: 1.19em;
}

ul {
  list-style: none;
}

ul > li::before {
  display: none;
}

ol {
  color: var(--color-yellow);
}

ol > li::before {
  display: none;
}

mark {
  background-color: var(--color-yellow);
}

a {
  text-decoration: none;
  border-bottom: 2px solid grey;
  color: grey;
}

a:hover,
a:focus {
  border-bottom: 2px solid var(--color-secondary-light);
  color: var(--color-secondary-light);
}

a:active {
  border-bottom: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

a:visited {
  border-bottom: 2px solid #98008C;
  color: #98008C;
 }

a-bread {
   text-decoration: none;
   border-bottom: 2px solid grey;
   color: grey;
}

a-bread:hover,
a-bread:focus {
  border-bottom: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

a-bread:active {
  color: var(--color-secondary-light);
  border-bottom: 2px solid var(--color-secondary-light);
}

a-bread:visited {
  color: var(--color-primary);
  border-bottom: border-bottom: 2px solid var(--color-primary);
}

blockquote {
  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
}

footer cite {
  font-weight: 400;
}

cite {
  font-size: calc(16px + (25 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: italic;
}
