.btn {
  background-color: var(--color-secondary);
  color: white;
  border: none;
}

.btn:hover {
  background-color: var(--color-secondary-light);
  color: white;
  border: none;
}

.btn-light {
  background: transparent;
  border-color: white;
  color: white;
}

.btn-light:hover {
  background-color: white;
  border-color: white;
  color: var(--color-primary);
}

.btn-ghost {
  background: transparent;
  color: var(--color-primary);
}

.btn-ghost:hover {
  background: transparent;
  color: var(--color-secondary);
}
