.btn {
  background-color: none;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn:hover {
  background-color: none;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}
