.btn {
  background-color: var(--color-secondary);
  color: white;
  border: none;
}

.btn:hover {
  background-color: var(--color-secondary-light);
  color: white;
  border: none;
}

.btn:visited {
  color: white;
  border: none;
}

.btn-light {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.btn-light:hover {
  background-color: white;
  border: 2px solid white;
  color: var(--color-primary);
}

.btn-ghost {
  background: transparent;
  color: var(--color-primary);
  text-decoration: underline;

}

.btn-ghost:hover {
  background: transparent;
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}
